{{- define "main" -}}

{{ $project_end := .Params.project_end }}
{{ if eq $project_end nil }}
  {{ $project_end = "present" }}
{{ end }}

<article class="article article-project">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    <div class="">
      Project timeline: 
      <i>{{ .Params.project_start }} - {{ $project_end }}</i>
    </div>

    <div class="article-style">

      <div class="pt-3">
        {{ .Content }}
      </div>

      <hr>

      <h2>Research lines</h2>
      <ul>
      {{ range .Params.research_lines }}
        <li>{{ . }}</li>
      {{ end }}
      </ul>

      <h2>Collaborators</h2>
      <ul>
      {{ range .Params.collaborators }}
      <li>{{ . }}</li>
      {{ end }}
      </ul>

      <h2>Funding</h2>
      <ul>
      {{ range .Params.funding }}
      <li>{{ . }}</li>
      {{ end }}
      </ul>
    </div>

    {{ partial "page_footer" . }}

    <div class="project-related-pages content-widget-hr">
      {{ $page := . }}
      {{ $project := .File.ContentBaseName }}

      {{ $items := where (where site.RegularPages "Type" "post") ".Params.projects" "intersect" (slice $project) }}
      {{ $count := len $items }}
      {{ if ge $count 1 }}
        <h2>{{ (i18n "posts") }}</h2>
        {{ range $items }}
          {{ partial "li_list" . }}
        {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "publication") ".Params.projects" "intersect" (slice $project) }}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
        <h2>{{ (i18n "publications") }}</h2>
        {{ range $items }}
          {{ partial "li_list" . }}
        {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "event") ".Params.projects" "intersect" (slice $project) }}
      {{ $talks_len := len $items }}
      {{ if ge $talks_len 1 }}
        <h2>{{ (i18n "talks") }}</h2>
        {{ range $items }}
          {{ partial "li_list" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</article>
{{- end -}}